
body {margin: 0;background:#fbfbfb;}
*:not(.fa){font-family:times}
.resizableColumn * {box-sizing: border-box!important;}

.subMenuCont{
display:inline-block!important;
}

.cell{
    background: #fcfcfc;
    border-radius:1px;
    margin:5px;
    margin-bottom: 10px;
    padding: 10px;
}
#contentTrescZajecia{border:none!important;}
.wrapper{min-height: 100vh}
.footer{color:white;min-height: 200px;overflow-y:auto}   
.footer a, .footer li{color:white;text-decoration:none;cursor:pointer;line-height:30px;}
   
    #timeout{
	display:none;
	color:white;
	position: absolute;
	text-align:center;
	top:20px;
	right:20px;
	background:#006b9f;
	width:400px;
	border-radius:20px;
	border:1px solid #4057a8;
	z-index:999999;
	padding:30px;
}
.checkObTh{
	 border-collapse: collapse!important;
}

.checkObTh tr:hover{
	background:none!important;
}
