@charset "UTF-8";
html body{
background:#90caf9;
width:100%;
margin:0;
padding:0
		}
		.ui-panel-titlebar {
			 background:#42a5f5!important;
			 color:whitesmoke;
			 text-shadow:none!important;
			 font-family:times;
		   	text-align:left;
				}
				
		 .ui-panel{
				border:none!important;
				box-shadow: 2px 2px 14px rgba(0,0,0,0.22);
				}
				
		 .panelogin{
		 margin:auto;
		 margin-top:10%;
		 width:450px;
		 }
		 .fl{
		 font-size:large!important;
		 }
		 @media screen and (max-width: 700px) {
		 .panelogin{
		 width:80vw;
		 }
		 }
		button{
			font-family:times!important;
			width:100%;
			margin:auto;
			margin-top:15px;
			padding:5px!important;
			background:#42a5f5!important;
			border:3px solid #bbdefb!important}
			
			button:hover{
			background:#64b5f6!important;
			border:3px solid #64b5f6!important}
			