@charset "UTF-8";
html, body{
	background:#fdfdfd;
	margin:0;
}
*{
	font-family:times;
}
.resizableColumn * {box-sizing: border-box!important;}
#timeout{
	display:none;
	color:white;
	position: absolute;
	text-align:center;
	top:20px;
	right:20px;
	background:gray;
	width:400px;
	border-radius:20px;
	border:1px solid gray;
	z-index:999999;
	padding:30px;
	box-shadow:inset 0 0 1em #595959, 0 0 1em gray;
}
.wrapper{min-height: 100vh}
