@charset "UTF-8";


.panelUsers {
	background: white;
	margin: auto;
	width: 97%;
	text-align: center;
	
}

input,select {
	border: 1px solid lightgray;
	background: whitesmoke
}

.col2, .col3, .col4 {
	background: #d6e6eb;
	text-align: left;
	padding: 3px;
	font-size: larger;
}
.centerUnit td,.centerUnit th{
	border:1px solid lightgray;
}
.centerUnit th{
	background:whitesmoke;
	height:30px;
}

.ui-datatable .ui-paginator{
	background:whitesmoke !important;
	color:gray !important;
}
.ui-datatable .ui-paginator .ui-icon{
	padding:0px;
	height:18px !important;
}
.zablokowanyRow{
	background-color:#e9c18d;
}
.datPick{
	background-color:orange !important;
}
.dialogUniv{background:green !important;}
.columnAlignCenter{text-align:center}
.dtPluts{text-align:center}
.headerPanel0{
	 display:inline-block;
	 padding:5px;
	
}
.headerPanel{float:right;
width:330px!important;
padding:0px!important;}
.headerPanel td{border:none!important}
.kalendarzDniWolne{
	width:95%;
	margin:auto;
	border:1px solid lightgray!important;
	
	}
.tdKalendarzDniWolne{
	float:left;
	margin-right:30px;
	background:whitesmoke;
	border:1px solid lightgray;
	border-radius:5px;
	}
.tdKalendarzDniWolne .ui-datepicker{
	border:none;
	border-bottom:1px solid lightgray;
}
.kalendarzDniWolne td{
	border:none;
}
.colSzkol td{border:none!important}
.tabKursyTematy {
	background:#94a8b4!important;
}
.tabKursyTematy .ui-widget-header{
	background:#c0ccd3!important;
	color:#00376f;
}
.buttDelete{
	background:none!important;color:#b00000!important;border:none!important;padding:0px!important;margin:0px!important;
}

.ui-datatable td input,.ui-datatable td textarea{width:90%!important;margin:2px!important}
