         
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c5c5c;
  color:white;
}

.topnav li {
  float: left;
}

.topnavbtn, .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:white;
  width:155px;
  cursor:pointer;
}

.topnav li:hover, .dropdown:hover .dropbtn {
  background-color: #96d1e4;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content-mega {
 width:100%;
 left:0;
 color:black;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
  
 
.topnav .wylogujButt{
	float:right;
}

 .topnav .icon, .topnav .iconSecond{
          display: none;
        }
 
 
 
 
 