@charset "UTF-8";
.ui-datatable th.ui-state-active,.ui-datatable th.ui-state-hover{
  background: #e4e4e4!important;color:gray!important;
  outline:none!important;
}
.ui-datatable th.ui-state-active .ui-sortable-column-icon .ui-icon
{
	color:red!important;
}



/*Style for Selected Rows*/
.my-tab  TR.ui-state-highlight {
background-color: #598A96 !important;
border: inherit !important;
}