@charset "UTF-8";
html body{
background:#c5cae9;
width:100%;
margin:0;
padding:0
		}

.headerPanel{
		background:#009688;
		padding:25px;
		color:white;
		font-size:larger
		}
.ui-panel-titlebar {
			 background:#009688!important;
			 color:whitesmoke;
			 text-shadow:none!important;
			 font-family:times;
		   	text-align:left;
				}
				
.ui-panel{
				border:none!important;
				box-shadow: 2px 2px 14px rgba(0,0,0,0.22);
				}
				
.panelogin{
		 margin:auto;
		 margin-top:10%;
		 width:450px;
		 }
		 .fl{
		 font-size:large!important;
		 }
		 @media screen and (max-width: 700px) {
		 .panelogin{
		 width:80vw;
		 }
		 }
		button{
			font-family:times!important;
			width:100%;
			margin:auto;
			margin-top:15px;
			padding:5px!important;
			background:#009688!important;
			border:3px solid #d1c4e9!important}
			
			button:hover{
			background:#80cbc4!important;
			border:3px solid #80cbc4!important}
			