<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" >
	
	
<h:form>

    <p:panelMenu style="width:100%;font-size:larger!important">
        <p:submenu label="Poczta" class="shadow">
         <p:submenu label="Nowa" icon="fa fa-mail-bulk" class="shadow p-10">
                   <p:menuitem value="Kadra"  outcome="/wiadomosci/nowaWiadomoscKadra.xhtml" class="bg-up-text p-10">
							        	<f:param name="productId" value="7" />
						    			<f:param name="i" value="1" />
					</p:menuitem>
					<p:menuitem value="Słuchacze" outcome="/wiadomosci/nowaWiadomosc.xhtml" class="bg-up-text p-10">
							        	<f:param name="productId" value="8" />
						    			<f:param name="i" value="1" />
					</p:menuitem>
			</p:submenu>
			<p:menuitem value="Wysłane" outcome="/wiadomosci/wyslane.xhtml" icon="fa fa-file-import" style="padding-top:15px;padding-bottom:15px">
							        	<f:param name="productId" value="9" />
						    			<f:param name="i" value="1" />
			</p:menuitem>
				<p:menuitem value="Odebrane" outcome="/wiadomosci/odebraneKadra.xhtml" icon="fa fa-inbox" style="padding-top:15px;padding-bottom:15px">
							        	<f:param name="productId" value="10" />
						    			<f:param name="i" value="1" />
			</p:menuitem>
        </p:submenu>


    </p:panelMenu>
					</h:form>
	</ui:composition>