<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" >
		<h:panelGrid columns="4" id="dataSubMenu" styleClass="subMenuCont" >
					<p:commandButton icon="ui-icon-circle-arrow-w" action="#{wyborPlutonu.changeSzkolenie}" update="dataSubMenu,contentTrescZajecia" style="margin-left:30px" >
						<f:setPropertyActionListener value="prev" target="#{wyborPlutonu.move}"></f:setPropertyActionListener>
					</p:commandButton>
					<p:calendar value="#{wyborPlutonu.dataFormGlowny}" locale="pl"  styleClass="calendar" size="10" pattern="dd-MMM-yyyy" effect="fade" >
						<p:ajax event="dateSelect" listener="#{wyborPlutonu.changeSzkolenie}" update="dataSubMenu,contentTrescZajecia" />
						<p:ajax event="change" listener="#{wyborPlutonu.changeSzkolenie}" update="dataSubMenu,contentTrescZajecia" />
					</p:calendar>
					<p:commandButton icon="ui-icon-home" action="#{wyborPlutonu.changeSzkolenie}" update="dataSubMenu,contentTrescZajecia">
						<f:setPropertyActionListener value="today" target="#{wyborPlutonu.move}"></f:setPropertyActionListener>
					</p:commandButton>
					<p:commandButton icon="ui-icon-circle-arrow-e" action="#{wyborPlutonu.changeSzkolenie}" update="dataSubMenu,contentTrescZajecia">
						<f:setPropertyActionListener value="next" target="#{wyborPlutonu.move}"></f:setPropertyActionListener>
					</p:commandButton>
	</h:panelGrid>
</ui:composition>